body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FFFDE7;
}

.navbar-inverse {
  background-color: #f44336;
  color: white;
  border-color: #424242;
}

.btn-primary {
  border: 0;
  background-color: #FF7043;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: #f44336;
}

#bs-example-navbar-collapse-1 > ul > li:nth-child(1) > a > b,
#bs-example-navbar-collapse-1 > ul > li:nth-child(2) > a > b,
#root > div > nav > div > div.navbar-header > a > b {
  color: white;
}

body {
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
  margin: 50px 0;
}

#images {
  width: 130px;
  height: 100px;
  overflow: hidden;
  margin: 10px;
  position: relative;
}

.i {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}
